*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    color-scheme: ligth dark;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 36px 36px 100px 36px;
    grid-template-rows: 1fr;
    background-color: #1c1b22;;
}

#chat {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 350px;
    height: 100%;
    position: relative;
}

#form {
    bottom: 0;
    display: flex;
    height: 48px;
    left: 0;
    padding: 4px;
    position: absolute;
    right: 0;
}

#input {
    border-radius: 9999px;
    border: 1px solid #eee;
    flex: 1;
    margin: 4px;
    padding: 0 8px;
}

#input:focus {
    outline: 0;
}

#form>button {
    background: rgb(119, 0, 255);
    color: #fff;
    border: 0;
    margin: 4px;
    border-radius: 4px;
}

#form>button:hover {
    background: rgb(174, 0, 255);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
    padding-bottom: 48px;
}

#messages>li {
    padding: .5rem 1rem;
}


.own-message{
    text-align: right;
}

.recived-message{
    background: #15141a;
}